html {
    width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
body {
    background: #008080;
    font-family: 'Poppins', sans-serif;
    color: #0b2228;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100%;
    overflow-x: hidden;
    position:relative;
    &.is-active {
        overflow: hidden;
        height: 100%;
        footer {
            opacity: 0;
        }
    }
}
a {
    color: #0b2228;
}
h1, h2, h3, h4, h5, h6 {
    text-transform: uppercase;
}
header {
    z-index: 10;
    padding: 30px 0 0;
    h1 {
        margin: 0;
    }
    .header-title {
        text-transform: uppercase;
        font-weight: 700;
        margin: 0;
        display: inline-block;
        text-decoration: none;
        @media all and (min-width: 768px) {
            font-size: 6rem;
            line-height: 5rem;
            span {
                display: block;
            }
        }
        @media all and (max-width: 768px) {
            font-size: 3rem;
            line-height: 2.5rem;
         
        }
    }
    .nav-container {
        position: relative;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        right: 15px;
        @media all and (min-width: 768px) {
            padding-top: 26px;
            width: 70px;
            height: 70px;
        }
        @media all and (max-width: 768px) {
            padding-top: 15px;
            width: 45px;
            height: 45px;
        }
        .nav-toggle {
            width: 100%;
            height: 100%;
            position: relative;
            background: none !important;
            box-shadow: none;
            border: none !important;
            border-radius: 0;
            text-shadow: none;
            padding: 0;
            display: block;
            
            span {
                display: block;
                position: absolute;
                right: 2px;
                top: 0;
                background-color: #0b2228;
                transition: .2s all;
                @media all and (min-width: 768px) {
                    height: 10px;
                    width: 60px;
                    &:nth-child(1) {
                        transform: rotate(0) translateY(-20px);
                    }
                    &:nth-child(2) {
                        transform: rotate(0) translateY(20px);
                    }
                }
                @media all and (max-width: 768px) {
                    width: 40px;
                    height: 8px;
                    &:nth-child(1) {
                        transform: rotate(0) translateY(-13px);
                    }
                    &:nth-child(2) {
                        transform: rotate(0) translateY(13px);
                    }
                }
            }
            &.is-active span {
                &:nth-child(1) {
                    transform: rotate(45deg);
                }
                &:nth-child(2) {
                    transform: scale(0);
                }
                &:nth-child(3) {
                    transform: rotate(-45deg);
                }
            }
        }
    }
}
nav {
    transition: .2s max-height, .2s padding;
    max-height: 0px;
    overflow: hidden;
    padding: 0;
    @media all and (min-width: 768px) {
        margin: 30px 0;
    }
    @media all and (max-width: 768px) {
        margin: 15px 0;
    }
    &.is-active {
        max-height: 600px;
        background: #006868;
        color: #fff;
        padding: 30px 0;
    }
    .menu {
        margin: 0;
        list-style: none;
        display: flex;
        align-items: flex-start;
        padding: 0;
        font-size: 1.2rem;
        @media all and (min-width: 768px) {
            gap: 30px;
        }
        @media all and (max-width: 768px) {
            flex-direction: column;
            gap: 20px;
        }
        a {
            color: #fff;
            text-decoration: none;
            &:hover {
                color: #fefe00;
            }
        }
        .current-menu-item {
            a {
                color: #fefe00;
            }
        }
    }
}
main {
    flex: 1;
    z-index: 5;
    font-weight: 500;
    overflow: hidden;
    position: relative;
    padding-top: 5%;
    opacity: 1;
    transition: .2s opacity;
    @media all and (min-width: 768px) {
        font-size: 2rem;
    }
    @media all and (max-width: 768px) {
        font-size: 1.5rem;
    }
    h1 {
        margin-top: 0;
        margin-bottom: 30px;
        @media all and (min-width: 768px) {
            font-size: 5rem;
            line-height: 4.8rem;
            span {
                display: block;
            }
        }
        @media all and (max-width: 768px) {
            font-size: 2.7rem;
            line-height: 2.7rem;
         
        }
    }
    h2 {
        line-height: 3rem;
    }
    p {
        margin-top: 0;
        margin-bottom: 30px;
    }
    form {
        label {
            display: block;
        }
        input, select {
            @media all and (min-width: 768px) {
                font-size: 120%;
            }
            @media all and (max-width: 768px) {
                font-size: inherit;
            }
            background-color: #fff;
            color: #0b2228;
            padding: 15px;
            border-radius: 10px;
            border: none;
            max-width: 100%;
            @media all and (max-width: 768px) {
                &[type=email] {
                    flex: 1;
                }
            }
            &[type=submit] {
                
            }
        }
        select {
            appearance: none;
            -webkit-appearance: none;
            -moz-appearance:none; 
            border: none;
            background-image: url("data:image/svg+xml,<svg width='50' height='50' xmlns='http://www.w3.org/2000/svg'><path d='m0,6l12,12l12,-12l-24,0z'/><path fill='none' d='m0,0l50,0l0,50l-50,0l0,-50z'/></svg>");;
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-position-y: 100%;
            option { font-size: 18px; }
        }
        &.has-errors {
            input[type=submit] {
                opacity: .5;
            }
        }
        &#profile-form {
            input[type=submit] {
                margin-top: 30px;
            }
        }
        .profile-field {
            margin-bottom: 30px;
            input,
            select {
                width: 100%;
            }
            &.avatar {
                flex-direction: column-reverse;
                align-items: flex-start;   
                label {
                    display: flex;
                    align-items: flex-end;
                } 
                #avatar {
                    font-size: 18px;
                    
                }
                #profile_image {
                    width: 100px;
                    position: relative;
                    &.is-loading {
                        &:after {
                            content: '';
                            background-image: url('../img/loading.gif');
                            position: absolute;
                            top: 50%;
                            left: 50%;
                            width: 50px;
                            height: 50px;
                            transform: translate(-50%,-50%);
                            z-index: 10;
                            background-size: cover;
                        }
                        img {
                            opacity: .2;
                        }
                    }
                }
                .delete-profile-photo {
                    position: relative;
                    right: -10px;
                    top: -10px;
                    color: #fff;
                    background:  #006868;
                    font-size: 16px;
                    border-radius: 5px;
                    display: none;
                    padding: 5px 15px;
                    cursor: pointer;
                    text-align: center;
                    line-height: 20px;
                    &:before {
                        padding-right: 10px;
                        content: "\2715";
                    }
                    &.is-active {
                        display: inline-block;
                    }
                }
            }
            .check-status {
                position: relative;
                &:after {
                    background-size: contain;
                    z-index: 999;
                    position: absolute;
                    right: 0;
                    top: 0;
                    height: 100%;
                    width: 60px;
                    background-position: right;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                &.is-loading {
                    &:after {
                        content: '';
                        background-image: url('../img/loading.gif');
                    }
                }
                &.is-success {
                    /*&:after {
                        content: '\2714';
                        color: #0b2228;
                        opacity: 
                    }*/
                }
                &.is-error {
                    &:after {
                        color: #ff5400;
                        content: "\2715";
                    }
                }
            }
            .desc {
                font-size: 18px;
                margin: 0 0 10px 0;
                word-break: break-word;
            }
            .action-error {
                font-size: 18px;
                /*color: #fefe00;*/
                color: #fff;
                display: none;
                &.is-active {
                    display: block;
                    margin-top: 10px;
                }
            }
        }
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        &.no-wrap {
            flex-wrap: nowrap;
        }
        .flex-33 {
            @media all and (min-width: 768px) {
                max-width: 33%;
            }
        }
        &.align-items-center {
            align-items: center;
        }
        &.align-items-bottom {
            align-items: flex-end;
        }
        .flex-1 {
            flex: 1;
        }
    }
    .content {
        position: relative;
        z-index: 2;
        margin-top: -2.5%;
        @media all and (min-width: 768px) {
            margin-bottom: 175px;
        }
    }
    .fog-bg {
        z-index: 1;
        display: block;
        position: absolute;
        width: 40%;
        @media all and (max-width: 768px) {
            width: 55%;
        }
        height: auto;
        &.fog-question-marks {
            @media all and (min-width: 768px) {
                top: 50%;
                transform: translateY(-50%);
                left: -5%;
                height: 90%;
                object-fit: contain;
                object-position: left;
                width: 60%;
            }
            @media all and (max-width: 768px) {
                bottom: 0px;
                top: auto;
                left: -8%;
            }
            bottom: 0;
            opacity: .1;
        }
        &.fog-bulbs {
            img {
                display: block;
                width: 100%;
                height: auto;
                opacity: 1;
                transition: .6s opacity;
            }
            @media all and (min-width: 768px) {
                top: 0;
                right: -5%;
            }
            @media all and (max-width: 768px) {
                top: 0;
                right: -15%;
                /*opacity: .6;*/
                img {
                    opacity: .2;
                }
            }
        }
    }
}
footer {
    position: relative;
    z-index: 6;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    opacity: 1;
    transition: .2s opacity;
    @media all and (min-width: 768px) {
        height: 175px;
        padding-top: 175px;
        margin-top: -175px;
    }
    @media all and (max-width: 768px) {
        margin-top: 75px;
    }
    .menu {
        display: flex;
        list-style: none;
        margin: 0;
        padding: 0;
        gap: 10px;
        justify-content: center;
    }
    a {
        &:hover {
            color: #fefe00;
        }
    }
    div {
        padding-bottom: 40px;
    }
}
.reminders {
    margin-bottom: 30px;
    .reminder {
        margin-bottom: 20px;
        &:last-of-type {
            margin-bottom: 0;
        }
        span {
            color: #fefe00;
        }
        .public {
            display: none;
            font-size: 16px;
            margin-top: 10px;
        }
        .detail {
            font-size: 16px;
            div {
                display: inline-block;
            }
            
            .tag-icon {
                display: inline-block;
                &:before {
                    margin-right: 4px;
                    display: inline-block;
                }
                &.birthdays {
                    &:before {
                        content: '\01F382';
                    }
                }
                &.children {
                    &:before {
                        content: '\01F476';
                    }
                }
                &.friends-family {
                    &:before {
                        content: '\01F308';
                    }
                }
                &.fun-facts {
                    &:before {
                        content: '\01F4D3';
                    }
                }
                &.pets {
                    &:before {
                        content: '\01F436';
                    }
                }
                &.travel {
                    &:before {
                        content: '\02708';
                    }
                }
                &.vacations {
                    &:before {
                        content: '\01F30E';
                    }
                }
                &.special-events {
                    &:before {
                        content: '\01F389';
                    }
                }
                &.hobbies {
                    &:before {
                        /*content: '\01F3C4';*/
                        content: '\026F3';
                    }
                }
                &.misc {
                    &:before {
                        content: '\02754';
                    }
                }
                &.accomplishments {
                    &:before {
                        content: '\01F64C';
                    }
                }
            }
        }
        .tag {
            pointer-events: none;   
            background: #006868;
            color: #fff;
            font-size: 16px;
            padding: 0 5px;
            text-align: center;
            height: 35px;
            line-height: 35px;
            border-radius: 5px;
            border: none;
            display: none;
            &:focus {
                outline: none;
            }
            &.placeholder {
                display: none;
                min-width: 20px;
              
            }
            
        }
        .note {
            pointer-events: none;   
            font-size: 16px;
            display: inline-block;
            border: none;
            background: transparent;
            padding: 0;
            color: inherit;
            font-family: inherit;
            font-weight: inherit;
            &:focus {
                outline: none;
            }
            &.placeholder {
                display: none;
                min-width: 20px;
            }
            
        }
    }
}
.reminder-summary {
    h2 {
        margin-bottom: 20px;
        border-bottom: 4px solid #006868;
        padding-bottom: 0;
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
    }
    .reminders {
        .handle,
        .delete,
        .done-editing {
            display: none;
        }
    }
    .edit-reminders {
        font-size: 18px;
        display: inline-block;
    }
    .reminder-content {
        opacity: 1;
        transition: .2s opacity;
        .phrase {
            line-height: 1.3em;
            margin-bottom: 5px;
        }
    }
    .reminder-tags {
        font-size: 16px;
        display: flex;
        gap: 10px;
        margin-bottom: 60px;
        align-items: center;
        flex-wrap: wrap;
        .tag-btn {
            background: #006868;
            color: #fff;
            transition: .2s background-color;
            border-radius: 10px;
            cursor: pointer;
            text-decoration: none;
            padding: 5px 15px;
            &.is-active,
            &:hover {
                background: #ff5400;
            }
        }
    }
    .big-link {
        display: inline-block;
        margin: 30px 10px 30px 0;
        font-size: 18px;
        &:last-of-type {
            margin-right: 0!important;
        }
    }
    .done-editing {
        display: none;
    }
    &.is-editing {
        .reminder-tags {
            display: none;
        }
        .public-notice {
            display: none!important;
        }
        .public {
            display: block;
        }
        .tag-icon {
            display: none!important;
        }
        .tags {
            display: block!important;
            .tag {
                pointer-events: all;
                display: block;
                margin-top: 5px;
                &.placeholder {
                    display: inline-block;
                }
            }
        }
        .sep {
            display: none!important;
        }
        .note {
            pointer-events: all;
            background: #006868;
            padding: 10px;
            border-radius: 5px;
            color: #fff;
            display: block!important;
            margin-top: 10px;
            @media all and (min-width: 768px) {
                width: 80%;
            }
            &:empty:not(:focus):before{
                content: 'An optional note about this reminder';
                color: #fff;
                opacity: .5
                
            }
            &.placeholder {
                display: block;
                
            }
        }
        .reminders {
            .reminder {
                display: flex;
                gap: 15px;
                align-items: baseline;
                margin-bottom: 40px;
                .reminder-content {
                    flex: 1;
                }
            }
            .handle,
            .edit,
            .delete {
                display: block
            }
        }
        .done-editing {
            display: inline-block;
            font-size: 18px;
            &.bottom-editor {
                display: block;
                margin: 50px auto 20px auto!important;
                text-align: center;
            }
        }
        #add-reminder,
        .edit,
        .edit-reminders {
            display: none;
        }
        .to-be-removed {
            .handle {
                opacity: .3;
            }
            .delete {
                -webkit-mask-image: url('../img/rotate-ccw.svg');
                mask-image: url('../img/rotate-ccw.svg');
            }
            .reminder-content {
                opacity: .3;
                text-decoration: line-through;
            }
        }
    }
}
.big-link {
    background: #ff5400;
    font-weight: 600;
    color: #fff;
    transition: .2s background-color;
    border-radius: 10px;
    cursor: pointer;
    text-decoration: none;
    @media all and (min-width: 768px) {
        padding: 15px 54px;
    }
    @media all and (max-width: 768px) {
        padding: 15px 25px;
    }
    @media(max-width:576px) {
        display: block;
        text-align: center;
    }
    &:hover {
        background: #c84605;
    }
}
.has-arrow {
    @media all and (min-width: 768px) {
        padding-right: 94px;
        position: relative;
        &:after {
            position: absolute;
            right: 50px;
            transition: .2s transform;
            content: '\2192';
        }
    }
    @media all and (max-width: 768px) {
        text-align: center;
        font-size: 18px;
        display: block !important;
        &:after {
            position: relative;
            margin-left: 10px;
            content: '\2192';
        }
    }
    &:hover {
        &:after {
            transform: translateX(5px);
        }
    }
}
/** Home page only, should be a different stylesheet but who cares right now **/
.home {
    .reminders {
        border: 4px solid rgba(11,34,40,.6);
        border-radius: 20px;
        padding: 30px;
    }
    .big-link {
        display: inline-block;
    }
    .fog-bulbs {
        @media all and (max-width: 768px) {
            top: 0;
            right: -15%;
            /*opacity: .6;*/
            .bulb1 {
                opacity: 1;
            }
            .bulb2 {
                opacity: .75;
            }
            .bulb3 {
                opacity: .5;
            }
            .bulb4 {
                opacity: .25;
            }
        }
    }
}
.error-notice {
    background: #006868;
    padding: 15px 60px 15px 25px;
    color: #fff;
    position: relative;
    @media all and (min-width: 768px) {
        margin-bottom: 60px;
    }
    @media all and (max-width: 768px) {
        margin-bottom: 30px;
    }
    a {
        color: #fefe00;
        text-decoration: none;
        &:hover,
        &:focus {
            text-decoration: underline;
        }
    }
    .close-notification {
        position: absolute;
        right: 25px;
        cursor: pointer;
        &:after {
            content: "\2715";
        }
    }
}
.form-errors {
    .error-notice {
        margin-bottom: 30px;
    }
}
/*.single-brain,
.page-profile {
    h1 {
        margin-top: 0;
    }
}*/
.single-brain {
    .share-link {
        color: #fff;
        font-size: 18px;
        margin-top: -10px;
        display: flex;
        gap: 15px;
        &.not-active {
            color: rgba(255,255,255,.7);
        }
        @media all and (max-width: 768px) {
            #share-link {
                display: none;
            }
        }
        @media all and (min-width: 768px) {
            .share-page-text {
                display: none;
            }
        }
    }
    .hidden-reminder {
        display: none;
    }

    
    .reminder-form {
        max-height: 0px;
        overflow: hidden;
        transition: .5s max-height;
        p {
            margin-bottom: 10px;
        }
        input {
            &:focus {
                outline: none!important;
            }
        }
        &.is-active {
            max-height: 999px;
        }
        #reminder-form {
            font-size: 18px;
            &.is-loading {
                position: relative;
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background: rgba(0,128,128,.7);
                }
                &:after {
                    content: '';
                    background-image: url('../img/loading.gif');
                    width: 60px;
                    height: 60px;
                    position: absolute;
                    top: 30%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                    background-size: contain;
                }
            }
            .error-notice {
                margin-bottom: 30px;
            }
            input[type="text"],
            textarea {
                width: 100%;
                font-size: inherit;
                margin-bottom: 20px;
            }
            textarea {
                border-radius: 10px;
                border: none;
                padding: 10px;
            }
            input[type="submit"] {
                margin-top: 30px;
            }
            .reminder-fields {
                @media all and (max-width: 767px) {
                    flex-direction: column;
                    input:first-of-type {
                        margin-bottom: 5px;
                    }
                }
            }
        }
    }
}
.login-actions {
    display: none;
    &.is-active {
        display: block;
    }
    .action-errors {
        p {
            font-size: 80%;
            color: #fff;
            margin-top: 10px;
        }
    }
    #login-code-input {
        letter-spacing: 15px;
        width: 300px;
        text-align: center;
        font-weight: 800;
    }
}
.has-cursor {
    cursor: pointer;
}
.backtologin {
    /*color: #fefe00;*/
    color: #fff;
    &:hover,
    &:focus {
        color: #fefe00;
    }
}
.desktop-only {
    @media all and (max-width: 768px) {
        display: none;
    }
}
.mobile-only {
    @media all and (min-width: 768px) {
        display: none;
    }
}
#profile_image {
    @media all and (min-width: 768px) {
        width: 100px;
        height: 100px;
    }
    @media all and (max-width: 768px) {
        width: 50px!important;
        height: 50px!important;
    }
    border-radius: 50%;
    background: #006868;
    img {
        border-radius: 50%;
        overflow: hidden;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
.edit, 
.copy,
.handle,
.delete {
    opacity: .5;
    transition: .2 opacity;
    mask-size: contain;
    background-color: #fff;
    display: inline-block;
    transform: sclae(1);
    transition: .2s transform;
    mask-position: center;
    mask-repeat: no-repeat;
    @media all and (min-width: 768px) {
        width: 25px;
        height: 25px;
    } 
    @media all and (max-width: 768px) {
        width: 25px;
        height: 25px; 
    }
    &:hover,
    &:focus {
        opacity: 1;
        cursor: pointer;
    }
}
.edit {
    -webkit-mask-image: url('../img/edit.svg');
    mask-image: url('../img/edit.svg');
}
.copy {
    -webkit-mask-image: url('../img/copy.svg');
    mask-image: url('../img/copy.svg');
    &.copied {
        transform: scale(1.8);
    }
}
.handle {
    cursor: move;
    user-select: none; 
    -webkit-mask-image: url('../img/menu.svg');
    mask-image: url('../img/menu.svg');
}
.delete {
    -webkit-mask-image: url('../img/x.svg');
    mask-image: url('../img/x.svg');
}
pre {
    white-space: pre-wrap;       /* Since CSS 2.1 */
    white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
    white-space: -pre-wrap;      /* Opera 4-6 */
    white-space: -o-pre-wrap;    /* Opera 7 */
    word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
.clear {
    clear: both;
    display: block!important;
}

.ui-widget.ui-widget-content {
    border: none!important;
    margin-top: -20px!important;
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}
.ui-widget.ui-widget-content.add-reminder-select {
    padding-top: 10px;
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        border-color: #006868!important;
        background: #006868!important;
    }
}
.ui-widget.ui-widget-content.existing-reminder-select {
    background-color: #006868;
    color: #fff;
    padding-bottom: 5px;
    .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {
        border-color: #fff!important;
        background: #fff!important;
        color: #0b2228;
    }
}